<div><div class="story_text">
      <p>I’m sure a lot of people here have solutions for keeping track of solutions to small or large everyday tech problems. E.g. how to accomplish rare feats in your editor, some sed snippet, or just a collection of useful documentation links.</p>
<p>My current ideal solution would look as follows, is anyone aware of a project/community like that?</p>
<ul>
<li>a public note taking wiki</li>
<li>per-user namespacing, with the ability to easily link to other users’ articles</li>
<li>not a walled garden; easy export, and a clear mission statement that this will stay so</li>
</ul>
<p>This would differ from other solutions that I’m aware of:</p>
<ul>
<li>Stack Overflow: it’s your own data; you’re not restricted in what kinds of problems/solutions you can record</li>
<li>org mode, private wiki: it’s public, with the benefits of
<ul>
<li>helping people by sharing your solutions</li>
<li>helping yourself actually take notes, because you know it might help others</li>
</ul>
</li>
<li>public personal wiki
<ul>
<li>some better discoverability, network effects</li>
<li>no need to set something up yourself</li>
</ul>
</li>
</ul>

    </div>

</div>